<div class="modal-header">
    <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<form name="form">
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-success"
              ng-click="submit(form)"
              data-dismiss="modal"
              value="Save"/>
        <input type="button" class="btn btn-danger"
               ng-click="close()"
               data-dismiss="modal"
               value="Cancel" />
    </div>
</form>
