<div ng-cloak ng-controller="HomeController">
    <form ng-submit="submit()">
        <div class="row">
            <div class="col-md-6">
                <h2 class="logo-text m-t-0">Shopfunnel Logo</h2>
            </div>
            <div class="col-md-6">
                <md-menu md-offset="4 36" class="pull-right m-t-1">
                    <a class="button color-grey" ng-click="openMenu($mdMenu, $event)"><i class="fa fa-user-circle m-r-1"></i>{{ data.username }}</a>
                    <md-menu-content width="2" class="p-v-0">
                        <md-menu-item>
                            <md-button ng-click="logout()">Sign out</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="app-info">
                    <p class="p-b-1">Welcome to the ShopFunnel App! To get started, follow the steps below :</p>
                    <div class="row">
                        <div class="col-md-2 text-right">
                            <label>Step 1.</label>
                        </div>
                        <div class="col-md-10">
                            <p>Enter your Shopify Shop Name.</p>
                            <p>For example, If your shop name was cloudstore.myshopify.com, you would enter cloudstore in the shopname field.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-right">
                            <label>Step 2.</label>
                        </div>
                        <div class="col-md-10">
                            <p>Click the Open ShopFunnel App button.</p>
                            <p>If you have already authorized the Shopify store, you will go to the ShopFunnel App dashboard immediately.</p>
                            <p>Otherwise you will be prompted to login the Shopify store.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-right">
                            <label>Step 3.</label>
                        </div>
                        <div class="col-md-10">
                            <p>If you succeed to authorize the Shopify store, you will be redirected to the ShopFunnel App dashboard (one-time approval for permanent access until you uninstall the app).
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="state.verified">
            <div class="col-md-12">
                <div class="auth-info">
                    {{ data.authInfo }}
                </div>
            </div>
        </div>
        <div class="row p-v-1">
            <div class="col-md-12">
                <label>Shop Name :</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="data.shopname"/>
            </div>
            <div class="col-md-8 p-l-0">
                <h3 style="margin-top:3px;letter-spacing:2px;">.myshopify.com</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="button" class="button color-blue"
                       ng-click="submit()"
                       ng-disabled="!data.shopname"
                       value="Open ShopFunnel App"/>
            </div>
        </div>
    </form>
</div>
