<!DOCTYPE html>
<html lang="en" ng-app="ShopFunnelsApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ this.title }}</title>
    {{ toHtml(this.webLibraryManager) }}
</head>
<body>
    <div id="wrapper" data-ng-app="ShopFunnelsApp">
        <div id="page-content">
            <div class="container-fluid shadow fadeInUp one animate">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 content p-h-4">
                        {{ toHtml(this.content) }}
                    </div>
                </div>
            </div>
       </div>
    </div>
</body>
</html>
