<div>
    <h2>Products of {{shop}}</h2>
    <div ng-if="state.loading">
        <loader data-loader-style="loader-default" data-loader-text="Loading..."></loader>
    </div>
    <div ng-if="!state.loading">
        <div ng-if="state.loadSuccess">
            <div class="row m-t-2">
                <div class="col-md-6">
                    <button type="button"
                            class="btn btn-primary p-h-1"
                            ng-if="state.step == 1"
                            ng-click="loadData()">Reload</button>
                </div>
                <div class="col-md-6">
                    <button type="button"
                            class="btn btn-success p-h-2 pull-right"
                            ng-if="state.step < 5"
                            ng-disabled="state.step == 1 && !state.productSelected"
                            ng-click="next()">Next</button>
                    <button type="button"
                            class="btn btn-danger p-h-2 m-r-1 pull-right"
                            ng-if="state.step > 1"
                            ng-click="back()">Back</button>
                </div>
            </div>
            <div class="row m-t-1">
                <div class="com-md-12">
                    <div ng-if="state.step == 1">
                        <table ng-table="data.productTable" class="table table-bordered table-striped table-hover">
                            <tr ng-repeat="product in $data">
                                <td class="text-center">
                                    <input type="checkbox" ng-model="product.selected" ng-change="selectionChanged()"/>
                                </td>
                                <td data-title="'Title'" sortable="'title'" filter="data.titleFilter">
                                    {{ product.title }}
                                </td>
                                <td data-title="'Image'">
                                    <img src="{{product.image.src}}" alt="{{product.image.alt}}" height="100" width="100">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div ng-if="state.step == 2">
                        <table ng-table="data.selectedProductTable" class="table table-bordered table-striped table-hover">
                            <tr ng-repeat="product in $data">
                                <td data-title="'Title'" sortable="'title'" filter="data.titleFilter">
                                    {{ product.title }}
                                </td>
                                <td data-title="'New Title'" sortable="'newTitle'" filter="data.newTitleFilter">
                                    <input type="text" class="form-control" ng-model="product.newTitle"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!state.loadSuccess">
            <h3 class="text-danger m-t-3">{{data.errorMsg}}</h3>
        </div>
    </div>
</div>
